*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    background:
    linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #111827
    );

    color:white;

    min-height:100vh;

    overflow-x:hidden;
}

.container{

    width:100%;

    max-width:1600px;

    margin:auto;

    padding:20px;

    display:flex;

    flex-direction:column;

    align-items:center;
}

.title{

    text-align:center;

    margin-bottom:25px;
}

.title h1{

    font-size:4rem;

    color:#00ffff;

    text-shadow:
    0 0 20px cyan,
    0 0 50px cyan;

    margin-bottom:10px;
}

.title p{

    color:#cbd5e1;

    font-size:1.3rem;
}


/* VIDEO SECTION */

.video-container{

    position:relative;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:40px;
}

video{

    width:100%;

    max-width:1100px;

    border-radius:30px;

    border:5px solid cyan;

    background:black;

    object-fit:cover;

    box-shadow:
    0 0 30px cyan,
    0 0 80px rgba(0,255,255,0.3);
}

canvas{

    position:absolute;

    width:100%;

    max-width:1100px;

    border-radius:30px;

    pointer-events:none;
}


/* STATUS PANEL */

.panel{

    width:100%;

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

    margin-bottom:35px;
}

.card{

    width:320px;

    background:
    rgba(255,255,255,0.06);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.4);
}

.card h2{

    color:#00ffff;

    margin-bottom:15px;

    font-size:2rem;
}

.card p{

    font-size:3rem;

    font-weight:bold;
}


/* BUTTONS */

.buttons{

    display:flex;

    gap:25px;

    flex-wrap:wrap;

    justify-content:center;
}

button{

    padding:18px 40px;

    border:none;

    border-radius:18px;

    font-size:1.1rem;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

    min-width:240px;
}

#startBtn{

    background:#00c853;

    color:white;

    box-shadow:
    0 0 20px rgba(0,255,100,0.5);
}

#stopBtn{

    background:#ff1744;

    color:white;

    box-shadow:
    0 0 20px rgba(255,0,80,0.5);
}

button:hover{

    transform:
    translateY(-3px)
    scale(1.03);
}


/* MOBILE RESPONSIVE */

@media(max-width:1024px){

    .title h1{

        font-size:3rem;
    }

    video{

        max-width:95%;
    }

    canvas{

        max-width:95%;
    }

}

@media(max-width:768px){

    .title h1{

        font-size:2.2rem;
    }

    .title p{

        font-size:1rem;
    }

    .card{

        width:100%;
    }

    .card h2{

        font-size:1.5rem;
    }

    .card p{

        font-size:2.2rem;
    }

    button{

        width:100%;

        max-width:350px;
    }

    .buttons{

        width:100%;

        flex-direction:column;

        align-items:center;
    }

}
