<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Driver Sleep Detection AI</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <div class="title">

        <h1>🚗 Driver Sleep Detection AI</h1>

        <p>
            Real-Time AI Driver Monitoring System
        </p>

    </div>

    <div class="video-box">

        <video
        id="video"
        autoplay
        playsinline>
        </video>

    </div>

    <div class="panel">

        <div class="card">

            <h2>Status</h2>

            <p id="status">
                STOPPED
            </p>

        </div>

        <div class="card">

            <h2>Eye Detection</h2>

            <p id="percentage">
                100%
            </p>

        </div>

    </div>

    <div class="buttons">

        <button id="startBtn">
            ▶ Start Detection
        </button>

        <button id="stopBtn">
            ⏹ Stop Detection
        </button>

    </div>

    <div class="footer">

        AI Driver Monitoring • Real-Time Detection

    </div>

</div>

<audio id="alarm" loop>
    <source src="{{ url_for('static',
    filename='Alarm.wav') }}">
</audio>

<script src="{{ url_for('static',
filename='script.js') }}">
</script>

</body>
</html>
