const video = document.getElementById("video");

const canvas = document.getElementById("canvas");

const ctx = canvas.getContext("2d");

const statusText = document.getElementById("status");

const percentageText = document.getElementById("percentage");

const alarm = document.getElementById("alarm");

const startBtn = document.getElementById("startBtn");

const stopBtn = document.getElementById("stopBtn");

let monitoring = false;

let alarmPlaying = false;

let stream = null;


// -----------------------------
// START
// -----------------------------
startBtn.addEventListener("click", async () => {

    if(monitoring) return;

    try{

        stream = await navigator.mediaDevices.getUserMedia({

            video:{
                width:640,
                height:480,
                frameRate:24
            },

            audio:false

        });

        video.srcObject = stream;

        monitoring = true;

        statusText.innerText = "ACTIVE";

        statusText.style.color = "#00ff88";

        percentageText.innerText = "100%";

        realtimeDetection();

    }

    catch(error){

        console.log(error);

        alert("Camera Access Denied");

    }

});


// -----------------------------
// STOP
// -----------------------------
stopBtn.addEventListener("click", () => {

    monitoring = false;

    if(stream){

        stream.getTracks().forEach(track => {

            track.stop();

        });

    }

    video.srcObject = null;

    ctx.clearRect(
        0,
        0,
        canvas.width,
        canvas.height
    );

    alarm.pause();

    alarm.currentTime = 0;

    alarmPlaying = false;

    statusText.innerText = "STOPPED";

    statusText.style.color = "orange";

    percentageText.innerText = "--";

});


// -----------------------------
// REALTIME DETECTION
// -----------------------------
function realtimeDetection(){

    if(!monitoring) return;

    canvas.width = video.videoWidth;

    canvas.height = video.videoHeight;

    ctx.clearRect(
        0,
        0,
        canvas.width,
        canvas.height
    );

    // FACE FRAME
    ctx.strokeStyle = "#00ffff";

    ctx.lineWidth = 4;

    const frameWidth = 250;

    const frameHeight = 300;

    const x =
    (canvas.width - frameWidth) / 2;

    const y =
    (canvas.height - frameHeight) / 2;

    ctx.strokeRect(
        x,
        y,
        frameWidth,
        frameHeight
    );

    // REALTIME MED
